body {
    background-image: url(gravel.png);
    text-align: center;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
}

.sapphire, .ruby, .emerald,.diamond {
    width: 60px;
    height: 60px;
}

.random {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    background-color: gray;
    margin-left: 800px;
    margin-right: 800px;
}

.wins {
    font-size: 20px;
    background-color: gray;
    margin-left: 800px;
    margin-right: 800px;
}

.losses {
    font-size: 20px;
    background-color: gray;
    margin-left: 800px;
    margin-right: 800px;
    margin-bottom: 5px;
}

.scoretext {
    font-size: 20px;
    background-color: gray;
    margin-left: 800px;
    margin-right: 800px;
    margin-top: 5px;   
}

.score {
    font-size: 20px;
    background-color: gray;
    margin-left: 800px;
    margin-right: 800px;
}
